<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %> | Chat App
    </title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
</style>

<body class="font-[Outfit] ">
    <div class='flex h-screen overflow-hidden w-full'>

        <!-- Side Bar Component -->
        <div class='md:w-1/5 w-full min-h-screen bg-base-100 py-4 flex gap-3 flex-col'>
            <!-- Modal Start -->
            <dialog id="my_modal_2" class="modal">
                <div class="modal-box w-max">
                    <form action="/change-profile" method="post" class="flex flex-col items-center gap-3"
                        enctype="multipart/form-data">
                        <h1 class="text-2xl">Change Profile Picture</h1>
                        <img class="object-cover object-center rounded-full w-[15vw] h-[15vw]" id="change-profile-img"
                            src="<%= user.profile_image %>" alt="">
                        <input type="file" required class="file-input file-input-primary w-full" id="file-input" accept="image/*"
                            name="profile" />
                        <input type="text" hidden name="id" value="<%= user.id %>">
                        <button type="submit" class="btn btn-primary w-full">Change Profile</button>
                    </form>
                </div>
                <form method="dialog" class="modal-backdrop">
                    <button>close</button>
                </form>
            </dialog>
            <!-- Modal End -->
            <div class="flex md:flex-row flex-row-reverse items-center justify-between px-4">
                <a href="/" class="text-lg">WhatsApp</a>
            </div>
            <div class="px-4 flex flex-col gap-2 overflow-y-auto">

                <a href="/"
                    class="flex text-gray-400 text-sm gap-3 items-center hover:bg-base-200 rounded-md p-2 cursor-pointer">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-house-door" viewBox="0 0 16 16">
                            <path
                                d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z" />
                        </svg>
                    </div>
                    <p>Home</p>
                </a>

                <a href="/profile"
                    class="flex text-gray-400 text-sm gap-3 bg-base-200 items-center hover:bg-base-200 rounded-md p-2 cursor-pointer">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-fill-gear" viewBox="0 0 16 16">
                            <path
                                d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4m9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0" />
                        </svg>
                    </div>
                    <p>Profile</p>
                </a>

                <a href="#"
                    class="flex text-slate-400 text-sm gap-3 items-center hover:bg-base-200 rounded-md p-2 cursor-pointer">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-key" viewBox="0 0 16 16">
                            <path
                                d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5" />
                            <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                        </svg>
                    </div>
                    <p>Account Settings</p>
                </a>

                <a href="#"
                    class="flex text-slate-400 text-sm gap-3 items-center hover:bg-base-200 rounded-md p-2 cursor-pointer">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-brush" viewBox="0 0 16 16">
                            <path
                                d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.1 6.1 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.1 8.1 0 0 1-3.078.132 4 4 0 0 1-.562-.135 1.4 1.4 0 0 1-.466-.247.7.7 0 0 1-.204-.288.62.62 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896q.19.012.348.048c.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04M4.705 11.912a1.2 1.2 0 0 0-.419-.1c-.246-.013-.573.05-.879.479-.197.275-.355.532-.5.777l-.105.177c-.106.181-.213.362-.32.528a3.4 3.4 0 0 1-.76.861c.69.112 1.736.111 2.657-.12.559-.139.843-.569.993-1.06a3 3 0 0 0 .126-.75zm1.44.026c.12-.04.277-.1.458-.183a5.1 5.1 0 0 0 1.535-1.1c1.9-1.996 4.412-5.57 6.052-8.631-2.59 1.927-5.566 4.66-7.302 6.792-.442.543-.795 1.243-1.042 1.826-.121.288-.214.54-.275.72v.001l.575.575zm-4.973 3.04.007-.005zm3.582-3.043.002.001h-.002z" />
                        </svg>
                    </div>
                    <p>Personalization</p>
                </a>

                <a href="#"
                    class="flex text-slate-400 text-sm gap-3 items-center hover:bg-base-200 rounded-md p-2 cursor-pointer">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                            <path
                                d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
                        </svg>
                    </div>
                    <p>Help</p>
                </a>

                <a href="/logout"
                    class="flex text-slate-400 text-sm gap-3 items-center hover:bg-base-200 rounded-md p-2 cursor-pointer">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                            <path fill-rule="evenodd"
                                d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                        </svg>
                    </div>
                    <p>Logout</p>
                </a>

            </div>
        </div>
        <!-- End of Side Bar -->
        <div class="md:flex flex-col gap-3 p-4 md:w-4/5 hidden h-screen bg-base-200">
            <div class="w-full">
                <h3 class="text-lg">User Profile</h3>
            </div>
            <div class="border-gray-600 border-1 rounded-md p-4 flex flex-col gap-3">
                <div class="flex items-center justify-between">
                    <h1 class="text-md text-gray-300">Personal Details</h1>
                    <a href="/edit-profile" class="link-primary pe-5">Edit</a>
                </div>
                <div class="flex gap-3">
                    <div class="w-[15vw] h-[15vw] relative rounded-lg">
                        <div onclick="my_modal_2.showModal()"
                            class="absolute bottom-0 right-0 bg-black/50 cursor-pointer w-[25px] h-[25px] p-1 text-white rounded-md">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil" viewBox="0 0 16 16">
                                <path
                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                            </svg>
                        </div>
                        <img class="object-cover object-center rounded-lg w-full h-full" src="<%= user.profile_image %>"
                            alt="">
                    </div>
                    <div class="flex-1 grid grid-cols-4 grid-rows-auto gap-3">
                        <div class="w-full flex flex-col gap-1">
                            <p class="text-sm text-gray-400">Fullname</p>
                            <span class="text-md">
                                <%= user.fullname %>
                            </span>
                        </div>
                        <div class="w-full flex flex-col gap-1">
                            <p class="text-sm text-gray-400">Email</p>
                            <span class="text-md">
                                <%= user.email %>
                            </span>
                        </div>
                        <div class="w-full flex flex-col gap-1">
                            <p class="text-sm text-gray-400">Username</p>
                            <span class="text-md">@<%= user.username %></span>
                        </div>
                        <div class="w-full flex flex-col gap-1">
                            <p class="text-sm text-gray-400">Gender</p>
                            <span class="text-md">
                                <%= user.gender %>
                            </span>
                        </div>
                        <div class="w-full flex flex-col gap-1">
                            <p class="text-sm text-gray-400">About</p>
                            <span class="text-md">
                                <%= user.bio %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let fileInput = document.querySelector('#file-input');
        fileInput.addEventListener('change', function () {
            if (fileInput.files && fileInput.files[0]) {
                let reader = new FileReader();
                reader.onload = function (e) {
                    document.querySelector('#change-profile-img').src = e.target.result;
                }
                reader.readAsDataURL(fileInput.files[0]);
            }
        });
    </script>
</body>

</html>